{# app/Resources/views/base.html.twig #}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('images/web-icon.png') }}" type="image/x-icon">
    <meta name="description" content="">

    <title>{% block title %}Billetterie du Louvre{% endblock title %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/louvre.css') }}">
    {% endblock stylesheets %}

</head>
<body>

        {% block header %}
            {% include('commons/header.html.twig') %}
        {% endblock %}

        {% block messagesFlash %}

        {% endblock %}

        {% block body %}

        {% endblock body %}

        {% block footer %}

        {% endblock %}

        {% block javascripts %}
            <link rel="stylesheet" href="{{ asset('js/materialize.min.js') }}">
        {% endblock javascripts %}


</body>
</html>