
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>CGV louvre.simon-lhoir.fr</h4>
        <p>Ce site est un projet étudiant sans aucun rapport avec le musée du Louvre, sa billetterie ou son site internet.</p>
        <p>Il n'est pas possible d'obtenir de billets valides pour l'entrée du musée du Louvre ou du Louvre Lens via ce site.</p>
        <p>Le système de paiement en place est en mode démo, aucun achat ne peut normalement être validé.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Fermer</a>
    </div>
</div>
