{# app/Resources/views/commons/header.html.twig #}

<div class="container">
    <div class="row">
        <div class="col s12 white">
            <img id="logo" class="center-block" src="{{ asset('images/logo-louvre.jpg') }}" alt="logo-louvre" />
        </div>
    </div>
</div>


