/* BODY */
body{
    color: white;
    /*background-image: url(../images/bg_desktop.jpg);*/
}

.bgBlue{
    background-color: #23C0D7;
    padding: 1em ;
}

hr{
    width: 25%;
    border: 0;
    height: 1px;
    color: white;
    background-color: white;
}

input{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 60% !important;
    background-color: rgba(255,255,255,0.1) !important;
}
input:focus{
    border-bottom: solid 3px #23C0D7 !important;
}

input:not(empty), input:valid, input:checked{
    border-bottom: solid 2px #23C0D7 !important;
    -webkit-box-shadow: 0 0px 0 0 #23C0D7 !important;
    box-shadow: 0 0px 0 0 #23C0D7 !important;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
    background-color: #23C0D7 !important;
}

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after{
    border: 2px solid #23C0D7 !important;
}
/* Header */
#logo {
    margin: auto;
    padding: 1em 0em;
}

